/1. introductions-scikit-learn.ipynb
/2. introductions-scikit-learn.ipynb
/Data
/first_scikit_model.ipynb
/gs_randon_random_forest_model_1.pkl
/heart-disease-analysis-plot-saved-with-code.png
/introductions_matplot_lib.ipynb
/Lessons
/random_forest_model_1.pkl